.works{
    padding: 0 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.works .work{
    position: relative;
    background-color: coral;
    cursor: pointer;
}


.works .full{
    grid-column: span 2;
    height: 100vh;
    background-image: url(assets/predio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.works .work h2{
    font-size: 12.5vw;
    font-weight: 700;
    color: #fff;
    position: absolute;
    line-height: 12.5vw;
    left: 2%;
    /* letter-spacing: -1.5vw; */
}

.works .work h2 span{
    opacity: 0;
    transition: opacity .4s ease;
}

.works .work h2 span:nth-child(2){
    transition-delay: .1s;
}

.works .work.full h2 {
    position: unset;
}

.works .work:hover h2 span {
    opacity: 1;
}

.works .work img {
    display: block;
    max-width: 100%;
}



@media screen and (max-width: 1000px){
    .works{
        padding: 0;
    }
    .work .work{
        grid-column: span 2;
        margin: 0 10px;
    }

    .work .work.full{
        margin: 0;
    }

    .works .work h2{
        font-size: 100px;
        line-height: 100px;
    }
}

@media screen and (max-width: 700px){
    .works .work h2{
        font-size: 60px;
        line-height: 60px;
    }
}